<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="d-flex justify-content-center align-items-center" style="height: 100%">
  <div>
    <div align="center">
      <img align="center" class="img-fluid" src="../../content/images/logo_black.png" style="height: 80%; width: 80%" />
    </div>
    <br />

    <div align="center">
      <button type="button" class="btn btn-primary" (click)="topicture()">Take picture &nbsp;&nbsp;<i class="fa fa-camera"></i></button>
      <br /><br />
      <p (click)="login()">LOGIN / REGISTER</p>
    </div>
  </div>
</div>
