<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="d-flex justify-content-center align-items-center" style="height: 100%">
  <div style="margin-top: -5%">
    <div align="center">
      <p>the best POS | UTM Canteen</p>
      <img align="center" class="img-fluid" src="../../content/images/logo_blue.png" />
    </div>

    <div align="center">
      <button type="button" class="btn btn-primary" (click)="topicture()">Take picture &nbsp;&nbsp;<i class="fa fa-camera"></i></button>
      <button type="button" class="txtcolor btn border border-primary" (click)="topicture()">About Us</button>
      <br />
      <p style="margin-top: 10px" (click)="login()">LOGIN / REGISTER</p>
    </div>
  </div>
</div>
