/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}
button {
  margin: 0 auto 0 auto;
}

#start-camera {
}

#video {
  display: none;
  border-radius: 5%;
}

#click-photo {
  display: none;
}

#dataurl-container {
  display: none;
}

#canvas {
}

#dataurl-header {
  text-align: center;
  font-size: 15px;
}

#dataurl {
  display: block;
  height: 100px;
  width: 320px;
  margin: 10px auto;
  resize: none;
  outline: none;
  border: 1px solid #111111;
  padding: 5px;
  font-size: 13px;
  box-sizing: border-box;
}
